<aside class="left-sidebar d-none d-lg-block">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li> <a class="waves-effect waves-dark" [routerLink]="['/']" aria-expanded="false"><i class="mdi mdi-home"></i><span
              class="hide-menu">Home</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" [routerLink]="['/products']" aria-expanded="false"><i class="mdi mdi-beer"></i><span
              class="hide-menu">Product catalog</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" [routerLink]="['/orders']" aria-expanded="false"><i class="mdi mdi-cart"></i><span
              class="hide-menu">Orders</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" href="/prometheus" aria-expanded="false"><i class="mdi mdi-fire"></i><span
              class="hide-menu">Prometheus</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" href="/alertmanager" aria-expanded="false"><i class="mdi mdi-bell-ring"></i><span
              class="hide-menu">Alert manager</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" href="/grafana-dashboard" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span
              class="hide-menu">Grafana</span></a>
        </li>
      </ul>

    </nav>
  </div>
  <div class="sidebar-footer">
  </div>
</aside>
